
/*********************************************************************
  MOBILE/BASE STYLES GO HERE
*********************************************************************/

/*This is the code for the font*/

* {
  font-family: "Open Sans", sans-serif;
  }


html, body {
    font-size: 16px;
}

/*This is the code for the background color*/

body {
    background-color: ghostwhite ;
}

.container{
    margin: 100px;
    max-width: 8000px;

/*This is the code for the image*/

figure {
    max-width: 8000px;
    font-size: 14px;
}

img {
    max-width: 100%;
}

/*This is the code for the headline*/

h1 {
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    border-color: teal;
    text-align: center;
}

/*This is code that applies spacing for the byline*/

h6 {
    margin: 5px;
}


/*This is code that makes the headers closer to the paragraphs*/

h2{
    margin-bottom:-15px;
}

/*********************************************************************
  TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /*I made the font bigger for desktop, above it is smaller for mobile*/

    body {
        background-color: ghostwhite;
        font-size: 30px;
    }

    .container{
        margin: auto;
    }
